@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Quintessential&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}


.pic{
    display: inline-flex;
    position: relative;
}

.nav-item .dropdown .dropdown-toggle{
    background-color: #f9f9f9;
    border: none;
    outline: none;
    color:#51595a;
    position: relative;
    top: 5px;
    transition: all 0.3s ease;
    padding:3px;
}
.nav-item .dropdown .dropdown-toggle:hover{
    background-color: #51595a ;
    color:#f9f9f9;
}
#all{
    background-color: #f3f3f0;
    color:#263473;
    align-items: center;
    text-align: center;
}
#background{
    position:relative;
    width: 100%;
    height: 90vh;
    background: url(img/background2.png);
    background-size: 160%;
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.hero{
    width:100%;
    position: relative;
    display: flex;
        justify-content: center;
        align-items: center;
    padding: 0 5%;
}

.content{
    text-align: center;
    position: absolute;
    top:15rem;
}
.hero h1{
   color:white;
   font-size: 9rem;
   position: relative;
   transition: all 0.3s ease-in-out;
}
.hero h1:hover{
    -webkit-text-stroke: 2px #fff;
     color:transparent
}

.content a{
    position: relative;
    text-decoration: none;
    color:#fff;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 50px;
    padding: 10px 50px 2px 50px;
    transition: 0.3s;
}
.content a:hover{
    background-color: #fff;
    color:initial;
}



@media screen and (max-width: 800px){
    #background{
        height: 40vh;
        background-position: top;
    }
    .content{
        top: 5rem;
    }
    .content h1{
        font-size: 3rem;
    }
    .content h3{
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) and (max-width:1024px){
    #background{
        height: 55vh;
        background-position: top;
    }
}
 

.fixed-top ul{
  gap: 15px;
}
.fixed-top ul li{
    font-size: larger;
}
 

.text1{
    text-align: center;
    background-color: #263473;
    font-weight: 400;
    color:white;
    padding: 1.3em;
    font-family: 'Lora';
    font-size: 1.8em;
}

.alltext{
    padding-top: 3em;
    text-align: center;
}

.alltext .text{
    
    padding-top: 1em;
    font-weight: 400;
    font-size: 1.1em;
}

.alltext .heavy-text{
    font-size: 3em;
    font-weight: 400;
}

.text2{
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 2rem;
    font-family: 'Quintessential';
}

.text3{
    color:gray;
}

.menu1{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    width: 100%;
    opacity: 1;
    transform: translateY(30px);
    transition-delay: all 0.3s ease;
    
} 

.menu1 a{
    text-transform: uppercase;
    color: #036efc;
    position: relative;
    font-weight: 600;
    text-decoration: none;
    width: max-content;
    text-align: center;
}
.menu1 a:hover{
    color:#006eff;
}
.menu1 a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    height: 4px;
    width:100%;
    left:0;
    background: #036efc;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.menu1 a:hover::after{
    transform: scaleX(1);
}

.main-menu{
    margin-bottom: 3rem;
}
.main-menu img{
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.5s ease;
    height: 400px;
    border: 1px solid #0f1b07;
}
.main-menu img:hover{
    transform: translateY(-10px);
    box-shadow: #000 0px 20px 30px -10px;
}

@media screen and (max-width:800px){
    .main-menu img{
        height: 200px;
    }
}

.card-food1,
.carousel,
.grid-wrapper,
h2,
p,
.main-menu a,
.contact-container,
.alltext .text2,
.alltext .heavy-text,
.main-menu img{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 60%;
}
@keyframes reveal{
   from{
    opacity: 0;
    transform: translateY(100px);
   }
   to{
    opacity: 1;
    transform: translateY(0px);
   }
}


.card-food1 .row{
    background-color: #f3f3f0;
    position: relative;
   
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-food1 .row .card{
    position: relative;
    /* background-color: rgba(208, 32, 46, 0.7); */
    border: none;
    width: fit-content;
    padding-bottom: -20px;
    padding-top: 10px;
    height: 520px;
}
.card-food1 .row .card .card-text{
    color: #f3f3f0;
}

.card-food1 .row .card img{
    transition: all 0.5s ease;
    height:500px;
    border-radius: 5px;
}
.card-food1 .row .card:hover img{
    transform: translateY(-15px);
    box-shadow: #000 0px 20px 30px -10px;
}
.card-food1 .row .card h5{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    position: relative;
    bottom: 3rem;
    padding-bottom: 7px;
    width: 100%;
}
@media screen and (max-width:800px){
    .card-food1 .row .card img{
        height: 310px;
    }
    .card-food1 .row .card{
        height: 330px;
    }
}

.carousel{
    margin-top: 2rem;
    width: 1080px;
    position: relative;
    display: inline-block; 
    justify-content: center;
}

.grid-wrapper img{
    max-width: 100%;
    height:auto;
    vertical-align: middle;
    display: inline-block;
    border-radius: 5px;
}

.grid-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0,  0.5);
}

.grid-wrapper div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
    cursor: pointer;
}
.grid-wrapper div:hover img{
   
    transform: scale(1.2);
}

.grid-wrapper{
    
    margin-top: 3rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}


.allicon{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 2rem 0;
}

.allicon .icon{
    font-size: 1.5rem;
    background-color: #263473;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem ;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.support{
    margin-top: 7rem;
    background-color: #000;
    padding-bottom: 7rem;
    padding-top: 5rem;
   
}

.contact-container{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 40%;
}
.contact-left-title h2{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 30px;
    color: white;
}
.contact-left-title hr{
    border: none;
    width: 50%;
    height: 5px;
    background-color: red;
    color: red;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.1s ease;
   
}
.contact-input:focus{
    border:2px solid #c06464;
}
.contact-input::placeholder{
    color: #a9a9a9;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 10px;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg,#c06464, #ff0000);
    cursor: pointer;
    width: 100%;
    justify-content: center;
    
}
.contact-right{
    margin: 1rem;
}
.erro-text{
    color:red;
    margin: -15px 0 10px;
    display: none;
}
.error .erro-text{
    display:block;
}

.contact-right img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

@media screen and (max-width:800px){
    .contact-container{
        flex-direction: column;
    }
    .contact-left{
        width:80%;
    }
    .contact-right img{
        width:200px;
        height: 200px;
    }
}




.back-to-top{
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 4rem;
    right:2rem;
    background-color: #d0202e;
    padding: 10px 12px 6px 12px;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    pointer-events: none;
    opacity: 0;
}
.back-to-top.active{
    bottom:4rem;
    opacity: 1;
    pointer-events: auto;
}
.back-to-top span{
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    transition: 0.2s ease-out;
}
.back-to-top:hover{
    box-shadow: rgb(198, 104, 104) 0px 20px 30px -10px;
    /* background-color: rgba(220, 20, 60, 0.5); */
}
.back-to-top:hover span{
    transform: translateY(-4px);
}


.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.end .end-left h6{
    width: 100%;
    position: relative;
    left: -8px;   
}


.end i{
    padding: 10px 14px 10px 14px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    align-items: center;
    left: 100%;
    color: #000;
}
.end i:hover{
    background-color: #d0202e;
    color: #fff;
    transform: translateY(-30px);
}


@media screen and (max-width:800px){
    .end{
        flex-direction: column;
        gap:1.5rem;
    }
    .end h6{
        width: 100%;
        text-align: center;
    }
    .end i{
        left: 0%;
    }
}

@media screen and (min-width:800px){
    .end h6{
        width: 33.3%;
    }
}




