@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Quintessential&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

.pic{
    display: inline-flex;
    position: relative;
}
.guide{
    position: absolute;
    color:#263473;
    z-index: 999;
    right: 5rem;
   top:0.7rem;
   align-items: center;
   width: max-content;
   justify-content: center;
   align-items: center;
   display: none;
}
.guide i{
   font-weight: 600;
   position: relative;
   top:2px;
   left: 5px;    
}

@media screen and (max-width: 767px){
    .guide{
        display: block;
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    .guide{
        display: block;
        right:4.5rem;
    }
}
#all{
    background-color: #f3f3f0;
    color:#263473;
    align-items: center;
    text-align: center;
}

.nav-item .dropdown .dropdown-toggle{
    background-color: #f9f9f9;
    border: none;
    outline: none;
    color:#51595a;
    position: relative;
    top: 5px;
    transition: all 0.3s ease;
    padding:3px;
}
.nav-item .dropdown .dropdown-toggle:hover{
    background-color: #51595a ;
    color:#f9f9f9;
}
    /* #background{
        position: relative;
        width: 100%;
        height: 90vh;
        background: url(/img/background2.png);
        background-size: 160%;
        background-position: center;
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-origin: border-box;
    }  */



    .hero{
        width:100%;
        height: 100vh;
        position: relative;
        display: flex;
            justify-content: center;
            align-items: center;
        padding: 0 5%;
        background-color: rgba(0, 0, 0,  0.6);
    }
    
    .content{
        text-align: center;
    }
    .hero h1{
       color:white;
       font-size: 9rem;
       position: relative;
       transition: all 0.3s ease-in-out;
    }
    .hero h1:hover{
        -webkit-text-stroke: 2px #fff;
         color:transparent
    }
    
    .content a{
        position: relative;
        text-decoration: none;
        color:#fff;
        border: 2px solid #fff;
        display: inline-block;
        border-radius: 50px;
        padding: 10px 50px 2px 50px;
        transition: 0.3s;
    }
    .content a:hover{
        background-color: #fff;
        color:initial;
    }
    
    .back-video{
        position: absolute;
         bottom:0;
    
        width:100%;
        z-index: -99;
    }
    /* @media (min-aspect-ratio: 16/9){
        .back-video{
            width:100%;
            height:auto;
        }
    }
    
    @media (max-aspect-ratio: 16/9){
        .back-video{
            width:auto;
            height:100%;
        }
        .hero h1{
            font-size: 4rem;
           
        }
    } */

    @media screen and (max-width: 800px){
        .back-video{
            height: 40vh;
            top: 0;
            width: 100%;
                }
                .hero{
                    height: 33.3vh;
                    width: 100%;
                }
                .hero h1{
                    
                    font-size: 2rem;
                }     
                .content a h3{
                    font-size: 1rem;
                }
    }
    
    @media screen and (min-width: 800px) and (max-width:1024px){
        .back-video{
            height: 50vh;
            top: 0;
            width: 100%;
                }
                .hero{
                    height: 30vh;
                    width: 100%;
                }
                .hero h1{
                    
                    font-size: 5rem;
                }     
                .content a h3{
                    font-size: 2rem;
                }
    }




/* @media screen and (max-width: 800px){
    #background{
        height: 40vh;
        background-position: top;
    }
}

@media screen and (min-width: 800px) and (max-width:1024px){
    #background{
        height: 55vh;
        background-position: top;
    }
} */
 

.fixed-top ul{
  gap: 15px;
}
.fixed-top ul li{
    font-size: larger;
}
 

.text1{
    text-align: center;
    background-color: #263473;
    font-weight: 400;
    color:white;
    padding: 1.3em;
    font-family: 'Lora';
    font-size: 1.8em;
}

.alltext{
    padding-top: 3em;
    text-align: center;
}

.alltext .text{
    
    padding-top: 1em;
    font-weight: 400;
    font-size: 1.1em;
}

.alltext .heavy-text{
    font-size: 3em;
    font-weight: 400;
}

.text2{
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 2rem;
    font-family: 'Quintessential';
}

.text3{
    color:gray;
}
.main-menu{
    margin-bottom: 3rem;
}
.main-menu img{
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.5s ease;
    height: 400px;
    border: 1px solid #0f1b07;
}
.main-menu img:hover{
    transform: translateY(-10px);
    box-shadow: #000 0px 20px 30px -10px;
}

@media screen and (max-width:800px){
    .main-menu img{
        height: 200px;
    }
}

.carousel,
h2,
.main-menu a,
.contact-container,
.main-menu img{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 60%;
}
@keyframes reveal{
   from{
    opacity: 0;
    transform: translateY(100px);
   }
   to{
    opacity: 1;
    transform: translateY(0px);
   }
}

.card-food1 .row{
    background-color: #f3f3f0;
    gap: 30px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    justify-content: space-evenly;
}


.card-food1 .row .card{
    
    border: none;
    width: 30rem;
    padding-top: 10px;
    height: fit-content;
    margin-bottom: 3rem;
}

.card-food1 .row .card .card-text{
    color: #000;
    
}
.card-food1 .row .card .card-text i{
    color:gray;
    font-size: smaller;
}

.card-food1 .row .card img{
    transition: all 0.5s ease;
    height:280px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.card-food1 .row .card:hover img{
    transform: scale(1.8);
    box-shadow: #000 0px 20px 30px -10px;
}

.card-food1 .row .card:hover .one{
    z-index: 999;
}
.card-food1 .row .card:hover .two{
    z-index: 999;
}
.card-food1 .row .card:hover .three{
    z-index: 999;
}
.card-food1 .row .card:hover .four{
    z-index: 999;
}
.card-food1 .row .card:hover .five{
    z-index: 999;
}
.card-food1 .row .card:hover .six{
    z-index: 999;
}
.card-food1 .row .card:hover .seven{
    z-index: 999;
}
.card-food1 .row .card:hover .eight{
    z-index: 999;
}
.card-food1 .row .card:hover .nine{
    z-index: 999;
}
.card-food1 .row .card:hover .ten{
    z-index: 999;
}





@media screen and (max-width:800px){
    .card-food1 .row .card img{
        height: 310px;
    }
    .card-food1 .row .card:hover img{
        transform: scale(1);
        box-shadow: #000 0px 20px 30px -10px;
    }
}

.carousel{
    margin-top: 2rem;
    width: 1080px;
    position: relative;
    display: inline-block; 
    justify-content: center;
}



.grid-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid-wrapper div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
    cursor: pointer;
    display: block;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0,  0.5);
}
.grid-wrapper div:hover img{
   
    transform: scale(1.1);
}

.grid-wrapper{
    margin-bottom: 5rem;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    background-color: #f3f3f0;
}

@media screen and (max-width: 800px){
    .grid-wrapper{
        grid-auto-rows: 100px;
    }
}

@media screen and (min-width: 800px) and (max-width:1024px){
    .grid-wrapper{
        grid-auto-rows: 150px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media screen and (min-width: 1024px) and (max-width:1400px){
    .grid-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}


.allicon{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 2rem 0;
}

.allicon .icon{
    font-size: 1.5rem;
    background-color: #263473;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem ;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.support{
    margin-top: 7rem;
    background-color: #263473;
    padding-bottom: 7rem;
    padding-top: 5rem;
   
}

.contact-container{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 40%;
}
.contact-left-title h2{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 30px;
    color: white;
}
.contact-left-title hr{
    border: none;
    width: 50%;
    height: 5px;
    background-color: red;
    color: red;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.1s ease;
   
}
.contact-input:focus{
    border:2px solid #c06464;
}
.contact-input::placeholder{
    color: #a9a9a9;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 10px;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg,#c06464, #ff0000);
    cursor: pointer;
    width: 100%;
    justify-content: center;
    
}
.contact-right{
    margin: 1rem;
}
.erro-text{
    color:red;
    margin: -15px 0 10px;
    display: none;
}
.error .erro-text{
    display:block;
}

.contact-right img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

@media screen and (max-width:800px){
    .contact-container{
        flex-direction: column;
    }
    .contact-left{
        width:80%;
    }
    .contact-right img{
        width:200px;
        height: 200px;
    }
}




.back-to-top{
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 4rem;
    right:2rem;
    background-color: #d0202e;
    padding: 10px 12px 6px 12px;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    pointer-events: none;
    opacity: 0;
    z-index: 999;
}
.back-to-top.active{
    bottom:4rem;
    opacity: 1;
    pointer-events: auto;
}
.back-to-top span{
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    transition: 0.2s ease-out;
}
.back-to-top:hover{
    box-shadow: rgb(198, 104, 104) 0px 20px 30px -10px;
    /* background-color: rgba(220, 20, 60, 0.5); */
}
.back-to-top:hover span{
    transform: translateY(-4px);
}


.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    background-color: black;
    padding-bottom: 1rem;
}
.end .end-left h6{
    width: 100%;
    position: relative;
    left: -8px;   
}
.end h6{
    color:gray;
}
.end i{
    padding: 10px 14px 10px 14px;
    border: 2px solid #fff;
    margin: 5px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    align-items: center;
    left: 100%;
    color:#fff;
}
.end i:hover{
    background-color: #d0202e;
    color: #fff;
    transform: translateY(-30px);
}


@media screen and (max-width:800px){
    .end{
        flex-direction: column;
        gap:1.5rem;
    }
    .end h6{
        width: 100%;
        text-align: center;
    }
    .end i{
        left: 0%;
    }
}

@media screen and (min-width:800px){
    .end h6{
        width: 33.3%;
    }
}




